*{
    font-family: 'Onest', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	width: auto;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }

.navbar{
    display: flex;
    justify-content: space-between;
}

#navbar{
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 20px;
}

#index-judul{
    font-size: 30px;
}

#profile{
    display: inline;
    font-size: 30px;
    color:blue;
}

#gradient {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(148, 154, 209);
    z-index: -1;
    background: radial-gradient(circle, rgba(2,0,36,1));
    border-radius: 100%;
    right: 100px;
    bottom: 100px;
    opacity:50%;
    filter: blur(10px);
  }

#layout{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

#index{
    display: flex;
    align-items: center;
	margin-top: 90px;
	margin-bottom: 90px;
}


#logo{
    width: 200px;
    height: 200px;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 40px;
}


/*footer*/
footer{
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 12px;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	color:  inherit;
	
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 12px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	font-size: 16px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*about*/

#about, #artikel, #portofolio, #layanan, #kontak{
    padding-left: 80px;
    padding-right: 80px;
	width: fit-content;
}

#about-judul{
	margin-top: 50px;
	font-size: 60px;
	text-align: center;
}

#paragraph-about{
	padding-top: 7px;
}

#list-dokter{
	display: flex;
	border-radius: #2c292f;
	justify-content: space-between;
	gap: 30px;
	text-align: center;
}

#gambar-dokter{
	border-radius: 100px;
	width: 200px;
    height: 200px;
	/* padding-left: 40px; */
	/* padding-right: 40px; */
	/* padding-top: 20px; */
}

#nama-dokter{
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
}

#profile-dokter{
	font-size: 14px;
	text-align: center;
}

@media (max-width: 880px) {

	#about, h2, #paragraph-about, #list-dokter, #nama-dokter, #profile-dokter{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
}


/*artikel*/
#artikel-judul{
	margin-top: 50px;
	font-size: 35px;
}

#list-artikel{
	display: flex;
	border-radius: #2c292f;
	justify-content: space-between;
	gap: 40px;
	text-align: center;
}

#tanggal-artikel{
	font-size: 12px;
	text-align: left;
}

#judul-artikel{
	text-align: justify;
	font-size: 16px;
}

#isi-artikel{
	text-align: left;
	font-size: 12px;
}

/*portofolio*/
#portofolio-judul{
	font-size: 24px;
	margin-top: 50px;
}

#paragraph-portofolio > p{
	font-size: 16px;
}