*{
    font-family: 'Onest', sans-serif;
	margin: 0;
	padding: 0;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
	padding-bottom: 20px;
	background-color: rgb(218, 249, 251);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(218, 249, 251);
	z-index: 1000; 
	  
  }

  .logo-logo{
	display: flex;
	justify-content: space-between;
	text-align: center;
  }

  #logo-bunga{
	width: 70px;
	height: 70px;
	padding: 0px;
  }

  #logoku{
	padding-top: 15px;
  }

.navbar{
    display: flex;
    justify-content: space-between;
}

#navbar{
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: space-between;
	
}

#navbar > li:hover{
	background-color: #95b8d1;;
	border-radius: 10px;
	padding: 5px 7px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 20px;
}

#index-judul{
    font-size: 30px;
}

#profile{
    display: inline;
    font-size: 30px;
    color:blue;
}

/* #gradient {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(148, 154, 209);
    background: radial-gradient(circle, rgba(2,0,36,1));
    border-radius: 100%;
    right: 100px;
    bottom: 100px;
    opacity:50%;
    filter: blur(10px);
  } */

#layout{
    display:block;
    padding-left: 80px;
    padding-right: 80px;
	padding-bottom: 30px;
	padding-top: 60px;
}

#index{
    display: flex;
    align-items: center;
	justify-content: space-between;
	margin-top: 120px; 
  padding-top: 20px;
}


#logo{
	max-width: 100%;
    width: 300px;
    height: auto;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 30px;
}

#btn-start{
	background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 600px;
    margin-top: 10px;
	font-size: 25px;
}

#btn-start:hover{
	background-color:#33383b;
}

/* .footer-distributed{
	font-size: 12px;
} */

@media(max-width:768px){
	header{
		flex-wrap: wrap;
	}

	.navbar{
		display: none;
	}

	#navbar{
		padding: 0;
		width: 75vw;
		display: flex;
		text-align: center;
		padding-top: 10px;
		flex-direction: column;
	}

	.container {
		display: inline-block;
	  }

	  .container:hover{
		background-color: #95b8d1;;
	  }
	  
	  .bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	  }
	  
	  .change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	  }
	  
	  .change .bar2 {opacity: 0;}
	  
	  /* Rotate last bar */
	  .change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	  }

	  #index{
		display: block;
		align-items: center;
		margin-top: 30px;
		margin-bottom: auto;
	}

	#logo{
		max-width: 100%;
		width: 300px;
		height: auto;
		padding-left: 50px;
		padding-right: 100px;
		padding-top: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


/*footer*/
footer{
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	justify-content: space-between;
	display: flex;
	background-color: rgb(245, 245, 245);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 12px;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	color:  inherit;
	
}

.footer-distributed .footer-company-name{
	color:  black;
	font-size: 12px;
	font-weight: normal;
	margin: 0;	
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 50%;
}


.footer-distributed .footer-center i{
	color: black;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i:hover{
	background-color: #95b8d1;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 12px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
	font-size: 16px;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: black;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color: black;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
	background-color: #95b8d1;
}

@media (max-width: 768px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/*about*/
#about, #artikel, #portofolio, #layanan, #kontak{
    padding-left: 80px;
    padding-right: 80px;
	box-shadow: #2c292f;
	margin-top: 120px; /* Sesuaikan dengan tinggi header dan navbar */
  padding-top: 20px; /* Anda juga bisa menggunakan padding jika lebih sesuai */
}

.class-about{
	background-color: #85de87;
	padding: 20px;
	box-shadow: 5px 5px #589359;
	border-radius: 20px;
	max-width: 100%;
}

.class-about > p{
	font-size: 18px;
}

#list-hobi{
	background-color: #85de87;
	padding: 20px;
	box-shadow: 5px 5px #589359;
	border-radius: 20px;
}

#hobi{
	background-color: #85de87;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 5px 5px #589359;
	border-radius: 20px;
}

#hobi > p{
	font-size: 16px;
}

.hobi{
	display: flex;
	justify-content: space-between;
}

#about-judul{
	font-size: 30px;
	text-align: left;
}

#list-hobi{
	display: block;
	border-radius: #2c292f;
	gap: 30px;
}

#judul-hobi{
	font-size: 24px;
}

.judul-kegiatan{
	background-color: #85de87;
	padding: 20px;
	box-shadow: 5px 5px #589359;
	border-radius: 20px;
}

#judul-kegiatan{
	font-size: 24px;
}

.list-kegiatan{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.list{
	background-color: #85de87;
	padding: 20px;
	box-shadow: 5px 5px #589359;
	border-radius: 20px;
}

#kegiatan{
	font-size: 20px;
}


@media (max-width: 768px) {
	header{
		flex-wrap: wrap;
	}

	.navbar{
		display: none;
	}

	#navbar{
		padding: 0;
		width: 75vw;
		display: flex;
		text-align: center;
		padding-top: 10px;
		flex-direction: column;
	}

	.container {
		display: inline-block;
		/* cursor: pointer; */
	  }
	  
	  .bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	  }
	  
	  /* Rotate first bar */
	  .change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	  }
	  
	  /* Fade out the second bar */
	  .change .bar2 {opacity: 0;}
	  
	  /* Rotate last bar */
	  .change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	  }

	.class-about > p{
		font-size: 16px;
	}
	#about-judul, #judul-hobi, #judul-kegiatan{
		font-size: 20px;
	}

	.hobi{
		display: block;
	}

	#hobi{
		margin-top: 10px;
		text-align: center;
		font-size: 12px;
	}

	.list-kegiatan{
		display: block;
	}

	.list{
		margin-top: 10px;
	}

	#kegiatan{
		font-size: 18px;
		font: bold;
	}

	#rincian, #periode{
		font-size: 16px;
	}
}


/*artikel*/
#img-artikel{
	width: 50em;
	height: 30em;
}

#artikel-judul{
	margin-top: 50px;
	font-size: 35px;
}

#list-artikel{
	display: flex;
	border-radius: #2c292f;
	justify-content: space-between;
	gap: 10px;
	text-align: center;
}

#tanggal-artikel{
	font-size: 12px;
	text-align: left;
}

#judul-artikel{
	text-align: justify;
	font-size: 16px;
}

#isi-artikel{
	text-align: left;
	font-size: 12px;
}

.artikel{
	padding: 20px;
}

#paragraph-artikel{
	font-size: 15px;
	text-align: justify;
}

#blog{
	font-size: 22px;
}

#kelebihan, #kekurangan{
	font-size: 18px;
}

#gambar-artikel{
	display: none;
}

@media (max-width: 700px){
	header{
		flex-wrap: wrap;
	}

	.navbar{
		display: none;
	}

	#navbar{
		padding: 0;
		width: 75vw;
		display: flex;
		text-align: center;
		padding-top: 10px;
		flex-direction: column;
	}

	.container {
		display: inline-block;
		/* cursor: pointer; */
	  }
	  
	  .bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	  }
	  
	  /* Rotate first bar */
	  .change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	  }
	  
	  /* Fade out the second bar */
	  .change .bar2 {opacity: 0;}
	  
	  /* Rotate last bar */
	  .change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	  }

	#img-artikel{
		width: 29em;
		height: 17em;
	}

	#blog{
		font-size: 18px;
	}

	#paragraph-artikel{
		font-size: 15px;
		text-align: justify;
	}
	#kelebihan, #kekurangan, li{
		font-size: 16px;
	}

	#list-artikel{
		display: block;
		padding-top: 0%;
		text-align: center;
	}

	.artikel-kumpulan{
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
	}

	#gambar-artikel{
		display: block;
		width: 90px;
		height: 90px;
		padding-left: 5px;
	}
}



/*portofolio*/
#desain{
	display: block;
	width: 450px;
	height: 10px;
	padding: 10px;
	position: absolute;
	left: 430px;
	top:330px;
	border-radius: 100px;
	background-color:rgba(145, 239, 242, 0.259);
}


#image > img{
	width: 10rem;
	height: 10rem;
	border-radius: 100%;
	border-color: #2c292f;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
}

#portofolio-judul{
	font-size: 2em;
	font-family: 'VT323', monospace;
	text-align: center;
	margin-top: 20px;
}

#text{
	font-size: 18px;
	text-align: center;
}

#paragraph-portofolio > p{
	font-size: 16px;
}

#tanggal{
	font-size: 12px;
	color: grey;
}

#span{
	font-size: 24px;
	margin-top: 50px;
	position: absolute;
	left: 110px;
	bottom: 60px;
	font: bold;
}

@media (max-width: 700px){
	header{
		flex-wrap: wrap;
	}

	.navbar{
		display: none;
	}

	#navbar{
		padding: 0;
		width: 75vw;
		display: flex;
		text-align: center;
		padding-top: 10px;
		flex-direction: column;
	}

	.container {
		display: inline-block;
		/* cursor: pointer; */
	  }
	  
	  .bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	  }
	  
	  /* Rotate first bar */
	  .change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	  }
	  
	  /* Fade out the second bar */
	  .change .bar2 {opacity: 0;}
	  
	  /* Rotate last bar */
	  .change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	  }

	  #desain{
		max-width: 100%;
		flex-wrap: wrap;
		display: block;
		width: 450px;
		height: 10px;
		padding: 10px;
		position: absolute;
		left: 80px;
		top:330px;
		max-width: 100%;
		border-radius: 100px;
		background-color:rgba(145, 239, 242, 0.259);
	}
}